<?xml version="1.0" encoding="utf-8" ?>
<Specifications>
    <serverUrl> <!-- can found in Server.java -->
        localhost
    </serverUrl>
    <serverPort> <!-- can found in Server.java -->
        9898
    </serverPort>
    <dbName> <!-- can found in DBClass -->
        my_scheme
    </dbName>
    <dbUsername> <!-- can found in DBClass -->
        root
    </dbUsername>
    <dbPassword> <!-- can found in DBClass -->
        root
    </dbPassword>
    <dbUrl> <!-- can found in DBClass -->
        localhost
    </dbUrl>
    <dbPort> <!-- can found in mysql configurations -->
        3306
    </dbPort>
    <dbTables> <!-- can found in mysql database -->
        <hub>
            tbl_hub
        </hub>
        <phone>
            tbl_phone
        </phone>
        <user>
            tbl_user
        </user>
    </dbTables>
    <mysqlDriver> <!-- can found in Server.java and DBClass.java -->
        com.mysql.cj.jdbc.Driver
    </mysqlDriver>
    <connectionString>
        jdbc:mysql://localhost:3306/my_scheme?useSSL=false
    </connectionString>
</Specifications>